#wrapper{
  padding:0;
  border-top:0;
  background-color: #ffffff;
}
.flex-btn{
  top:40px;
  left: -78px;
  background: transparent;
  & span{
    background-color: #b2b2b2;
    width: 55px;
    height: 4px;
    &:nth-child(1){
      top: 2px;
    }
    &:nth-child(2){
      top: 12px;
    }
    &:nth-child(3){
      top: 22px;
    }
  }
}
